#{extends 'main.html'/}
#{set title:"Zaloguj się" /}
#{set page_name:'logowanie' /}

<div class="col-md-10 col-md-offset-1">

    <div class="page-header">

        <h1>Zaloguj się</h1>
    </div>


#{form @authenticate(), class:"form-horizontal", role:"form"}



    <div class="form-group">
        <label class="control-label col-sm-3">&{"secure.username"}</label>

        <div class="col-sm-3">
            <input type="text" size="30" name="username" class="form-control" id="username" value="${flash.username}"
                   autofocus="autofocus">


        </div>

    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">&{"secure.password"}</label>

        <div class="col-sm-3">
            <input type="password" size="30" name="password" class="form-control" id="password" value="">

        </div>

    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember" id="remember"
                           value="true" ${flash.remember ? 'checked="true"' : ''} />
                &{'secure.remember'}
                </label>
            </div>
        </div>


    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary btn-large" type="submit">Zaloguj</button>
            <a href="/" class="btn btn-large">Rezygnuj</a>
        </div>

    </div>

    #{include 'shared/auth_form_links.html' /}

#{/form}
</div>
