#{extends 'main.html' /}
#{set title:'Zmiana hasła' /}
#{set page_name:'passwordReset' /}

<div class="col-md-10 col-md-offset-1">
    <div class="page-header">
        <h1>Zmiana hasła</h1>
    </div>


#{form @Guard.doNewPassword(), class:'form-horizontal', role:'form'}

    <input type="hidden" id="uuid" name="uuid" value="${uid}"/>

    <div class="form-group">

        #{field 'password'}
            <label class="control-label col-sm-3">Nowe hasło:</label>

            <div class="col-sm-4">
                <input class="form-control" type="password" size="30" id="${field.id}" name="${field.name}" value=""
                       autofocus="autofocus"/>
            </div>
        #{/field}

    </div>

    <div class="form-group">

        #{field 'passwordConfirmation'}
            <label class="control-label col-sm-3">Nowe hasło ponownie:</label>

            <div class="col-sm-4">
                <input type="password" class="form-control" size="30" id="${field.id}" name="${field.name}" value=""/>
            </div>
        #{/field}

    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
            <input type="submit" value="Zapisz" class="btn btn-primary btn-large"/>
            <a href="/" class="btn btn-large">Rezygnuj</a>
        </div>
    </div>

    <p>#{include 'shared/auth_form_links.html' /}</p>

#{/form}
</div>