#{extends 'main.html' /}
#{set title:'Wyślij instrukcję zmiany hasła' /}
#{set page_name:'passwordReset' /}

<div class="col-md-10 col-md-offset-1">
    <div class="page-header">
        <h1>Wyślij instrukcję zmiany hasła</h1>
    </div>


#{form @Guard.doPasswordResetForm(), class:'form-horizontal', role:'form'}

    <div class="form-group">
        <label class="control-label col-sm-3">Email:</label>

        <div class="col-sm-4">
            <input type="email" size="30" id="email" name="email" value="" autofocus="autofocus" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
            <input type="submit" value="Wyślij" class="btn btn-primary btn-large"/>
            <a href="/" class="btn btn-large">Rezygnuj</a>
        </div>
    </div>

    #{include 'shared/auth_form_links.html' /}

#{/form}
</div>
