#{extends 'main.html'/}
#{set title:"Załóż nowe konto" /}
#{set page_name:'profile' /}


<div class="col-md-10 col-md-offset-1">

    <div class="page-header">

        <h1>Profil użytkownika</h1>
    </div>

#{form @Guard.editProfile(), class:'form-horizontal', role:'form'}

    <div class="form-group">
        <label class="control-label col-sm-3">&{"user.firstname.label"}</label>

        <div class="col-sm-4">
            <input type="text" class="form-control" size="30" name="firstname" id="firstname"
                   value="${me.firstname}" autofocus="autofocus">

        </div>

    </div>

    <div class="form-group ">
        <label class="control-label col-sm-3">&{"user.surname.label"}</label>

        <div class="col-sm-4">
            <input type="text" size="30" name="surname" class="form-control" id="surname"
                   value="${me.surname}">

        </div>

    </div>


    #{field 'newUser.username'}

        <div class="form-group ">
            <label class="control-label col-sm-3">&{field.name+".label"}</label>

            <div class="col-sm-4">
                <input type="text" size="30" name="${field.name}" class="form-control" id="${field.id}"
                       value="${me.username}" disabled="disabled">

                <p class="help-block">&{field.name+".hint"}</p>
            </div>

        </div>

    #{/field}

    #{field 'newUser.email'}

        <div class="form-group">
            <label class="control-label col-sm-3">&{field.name+".label"}</label>

            <div class="col-sm-4">
                <input type="email" size="30" name="${field.name}" class="form-control" id="${field.id}"
                       value="${me.email}" disabled="disabled">

                <p class="help-block">&{field.name+".hint"}</p>
            </div>

        </div>

    #{/field}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
            <button class="btn btn-primary btn-large" type="submit">Zapisz</button>
            <a href="/" class="btn btn-large">Rezygnuj</a>
        </div>
    </div>
#{/form}
</div>
