#{extends 'main.html'/}
#{set title:"Załóż nowe konto" /}
#{set page_name:'rejestracja' /}

<div class="col-md-10 col-md-offset-1">

    <div class="page-header">
        <h1>Załóż konto</h1>
    </div>


#{form @Guard.doRegister(), class:"form-horizontal", role: "form"}

    #{field 'newUser.username'}

        <div class="form-group ${errors.forKey('newUser.username') ? 'has-error': ''}">
            <label class="control-label col-sm-3">&{field.name+".label"}</label>

            <div class="col-sm-6">
                <input type="text" size="30" name="${field.name}" class="form-control" id="${field.id}"
                       value="${flash['newUser.username']}" autofocus="autofocus">

                <p class="help-block">&{field.name+".hint"}</p>
            </div>

        </div>

    #{/field}

    #{field 'newUser.email'}

        <div class="form-group  ${errors.forKey('newUser.email') ? 'has-error': ''}">
            <label class="control-label col-sm-3">&{field.name+".label"}</label>

            <div class="col-sm-6">
                <input type="email" size="30" name="${field.name}" class="form-control" id="${field.id}"
                       value="${flash['newUser.email']}">

                <p class="help-block">&{field.name+".hint"}</p>
            </div>

        </div>

    #{/field}

    #{field 'newUser.password'}

        <div class="form-group  ${errors.forKey('newUser.password') ? 'has-error': ''}">
            <label class="control-label col-sm-3">&{field.name+".label"}</label>

            <div class="col-sm-6">
                <input type="password" size="30" name="${field.name}" class="form-control" id="${field.id}" value="">

                <p class="help-block">&{field.name+".hint"}</p>
            </div>

        </div>

    #{/field}

    #{field 'newUser.passwordConfirmation'}

        <div class="form-group  ${errors.forKey('newUser.passwordConfirmation') ? 'has-error': ''}">
            <label class="control-label col-sm-3">&{field.name+".label"}</label>

            <div class="col-sm-6">
                <input type="password" size="30" name="${field.name}" class="form-control" id="${field.id}" value="">

                <p class="help-block">&{field.name+".hint"}</p>
            </div>

        </div>

    #{/field}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <button class="btn btn-primary btn-large" type="submit">Rejestruj</button>
            <a href="/" class="btn btn-large">Rezygnuj</a>
        </div>
    </div>

    #{include 'shared/auth_form_links.html' /}

#{/form}
</div>

