#{ifnot controllers.GuardSecurity.isConnected() }
<div class="well">

    <!-- jeżeli nie zalogowany i nie jest to formularz logowania-->
    #{if page_name != 'logowanie'}

        <a href="/login">Zaloguj się</a> <br/>
    #{/if}
    <!--Jeżeli nie jest to formularz rejstracji-->

    #{if page_name != 'rejestracja'}
        #{a @Guard.register()}Zarejestruj się#{/a}  <br/>
    #{/if}

    <!-- Jeżeli nie jest to formularz przypomnienia hasła-->
    #{if page_name != 'passwordReset'}
        #{a @Guard.passwordResetForm()}Zapomniałem hasła#{/a}   <br/>
    #{/if}


    <!--Jeżeli nie jest to formularz aktywacji konta i nie zalogowany-->
    #{if page_name != 'resendConfirmation'}
        #{a @Guard.resendConfirmation()}Nie otrzymałeś instrukcji aktywacji konta?#{/a}
    #{/if}
    <!--GENERALNIE WSZYSTKO GDY NIE ZALOGOWANY-->

</div>

#{/ifnot}