#{if controllers.GuardSecurity.isConnected() }

    #{set isAdmin = controllers.GuardSecurity?.connectedUser()?.isAdmin() /}

<li><a href="@{Guard.profile()}" class="#{if isAdmin} admin_user #{/if}">
${controllers.GuardSecurity.connectedUser()?.displayName() }
</a></li>
    #{if isAdmin }

    <li>
        <a href="/admin">Panel administracyjny</a>
    </li>

    #{/if}

<li><a href="@{Secure.logout()}">Wyloguj</a></li>
#{/if}
#{else}
<li><a href="@{Secure.login()}">Zaloguj</a></li>
<li><a href="@{Guard.register}">Zarejestruj</a></li>
#{/else}