#{extends 'main.html'/}
#{set title:"Jak to działa?" /}
#{set page_name:'jak_to_dziala' /}

<div class="col-md-12">

    <div class="page-header">
        <h1>Czym jest projekt?</h1>
    </div>

</div>