#{extends 'main.html'/}
#{set title:"Warunki korzystania z serwisu" /}
#{set page_name:'warunki' /}

<div class="col-md-10 col-md-offset-1">
    <div class="page-header">
        <h1>Warunki korzystania z serwisu</h1>
    </div>
    <p>

    </p>
</div>