#{extends 'main.html' /}
#{set title:'Kontakt' /}

#{set bodyClass:'contact_form' /}
#{set page_name:'contact_form' /}



<div class="col-md-10 col-md-offset-1">
    <div class="page-header">
        <h1>&{'contact.form'}</h1>
    </div>

#{form @ContactMessages.sendMessage(), class:"form-horizontal", role:'form'}

    #{field 'message.name'}

        <div class="form-group ${errors.forKey('message.name') ? 'has-error': ''}">
            <label class="control-label col-sm-3">&{field.name+".label"}</label>

            <div class="col-sm-6">
                <input type="text" size="30" name="${field.name}" class="form-control" id="${field.id}"
                       value="${flash['message.name']}" autofocus="autofocus">


            </div>

        </div>

    #{/field}

    #{field 'message.email'}

        <div class="form-group  ${errors.forKey('message.email') ? 'has-error': ''}">
            <label class="control-label col-sm-3">&{field.name+".label"}</label>

            <div class="col-sm-6">
                <input type="email" size="30" name="${field.name}" class="form-control" id="${field.id}"
                       value="${flash['message.email']}">


            </div>

        </div>

    #{/field}

    #{field 'message.subject'}

        <div class="form-group ${errors.forKey('message.subject') ? 'has-error': ''}">
            <label class="control-label col-sm-3">&{field.name+".label"}</label>

            <div class="col-sm-6">
                <input type="text" size="30" name="${field.name}" class="form-control" id="${field.id}"
                       value="${flash['message.subject']}">

                <p class="help-block">&{field.name+".hint"}</p>
            </div>
        </div>

    #{/field}

    #{field 'message.message'}

        <div class="form-group ${errors.forKey('message.message') ? 'has-error': ''}">
            <label class="control-label col-sm-3">&{field.name+".label"}</label>

            <div class="col-sm-6">
                <textarea type="text" size="30" rows="10" name="${field.name}" class="form-control" id="${field.id}"
                        >${flash['message.message']}</textarea>


            </div>

        </div>

    #{/field}

    <div class="form-group">
        <label class="control-label col-sm-3">&{'recaptcha.label'}</label>

        <div class="col-sm-4">
            #{ugot.recaptcha theme:'clean'/}
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
        <button class="btn btn-primary btn-large" type="submit">Wyślij</button>
        <a href="/" class="btn btn-large">Rezygnuj</a>
        </div>
    </div>
#{/form}
</div>